DATABASE_NAME= template_db
DATABASE_HOST= oneazureserver.postgres.database.azure.com
DATABASE_USERNAME= your_azure_username@oneazureserver
DATABASE_PASSWORD= sUp3rS3cr3tP@ssw0rd
DATABASE_PORT= 5432
SECRET_KEY= 4567gvtfyguhio98778334jjviehbwocjhipwc2ue8292!!)00((0ZdcedcHEDHFAAh333
EMAIL_HOST= smtp.gmail.com
CORS_ALLOWED_ORIGINS= ['localhost', '127.0.0.1']

